body {
  background-image: url(../img/bg.png);
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 410px;
}

.form-control {
  border-width: 2px;
  border-color: #888;
}

.shadow {
  text-shadow: 2px 2px #FFF;
}
